.box{
background-color: royalblue;
color:white;
height: 78px;
}

.content{
  padding-top: 32px;
}

.cards{
    background-color: white;
   display: flex; 
   justify-content:space-between;
   padding-left: 10px;
   height: 400px;
   margin: 50px;
}

.card{
    flex: 0 0 350px;
    background-image: url(/images/content\ image.png);
    background-repeat: no-repeat;
    overflow: hidden;
    height: 100%;
    cursor: pointer;
}

.card:hover{
background-color: none;
}

.card1{
    background: rgba(255, 234, 130, 0.82);
    overflow: hidden;
    height: 100%;
    z-index: 2;
}

.card2{
    flex: 0 0 350px;
    background-image: url(/Pictures/image_5.jpg);
    background-repeat: no-repeat;
    overflow: hidden;
    height: 100%;
    cursor: pointer;
}

.card3{
    flex: 0 0 350px;
    background-image: url(/Pictures/image_6.jpg);
    background-repeat: no-repeat;
    overflow: hidden;
    height: 100%;
    cursor: pointer;
}

.text{
    color: white;
}
